<% title "Your Billing Information" %>

<div id="boxed">
  <div id="float_left">
    <%= render :partial => 'billing' %>
  </div>
  
  <div id="float_right">
    <ul class="sidemenu">
      <li><%= link_to "Account Info", user_path(current_user) %></li>
      <li><%= link_to "Billing Info", new_user_payment_profile_path(current_user) %></li>
      <li><%= link_to "Email Options", '#' %></li>
      <li><%= link_to "Order History", '#' %></li>
    </ul>
  </div>
</div>