<% title "Fine Print" %>

<p>
  <strong>Description:</strong>
  <%= @fine_print.description %>
</p>
<p>
  <strong>Deal:</strong>
  <%= @fine_print.deal_id %>
</p>

<p>
  <%= link_to "Edit", edit_fine_print_path(@fine_print) %> |
  <%= link_to "Destroy", @fine_print, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", fine_prints_path %>
</p>
