<%= semantic_form_for( @deal, :html => { :multipart => true, :class => "normal_form"} ) do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <% unless @deal.photo_file_name.nil? %>
      <br />
      <%= image_tag @deal.photo.url(:thumb) %>
    <% end %>
    <%= f.input :blurb_title %>
    <%= f.input :blurb %>
  <% end %>
  
  <p><label>Fine Print</label></p>
  <%= f.semantic_fields_for :fine_prints do |fp| %>
    <%= fp.inputs do %>
      <%= fp.input :description, :label => false %>
      <br />
    <% end %>
  <% end %>
  
  <p><label>Highlights</label></p>
  <%= f.semantic_fields_for :highlights do |hl| %>
    <%= hl.inputs do %>
      <%= hl.input :description, :label => false %>
      <br />
    <% end %>
  <% end %>
  
  <%= f.inputs do %>
    <%= f.input :company, :collection => @companies %>
    <%= f.input :city, :collection => @cities, :group_by => :state %>
    <%= f.input :regular_price %>
    <%= f.input :initial_discount %>
    <%= f.input :max_discount %>
    <%= f.input :max_threshold %>
    <%= f.input :deal_date, :as => :string %>
    <% if current_user.role == 'admin' %>
      <%= f.input :approved %>
    <% end %>
  <% end %>
  
  <%= image_submit_tag 'submit.png', :class => 'signup' %>
<% end %>
