<% title "Deals" %>

<table id="tablelist">
  <tr>
    <th>Name</th>
    <th>Blurb</th>
    <th>Price</th>
    <th>Discounts</th>
    <th>Threshold</th>
  </tr>
  <% for deal in @deals %>
    <tr>
      <td><%= link_to truncate_on(deal.name), edit_deal_path(deal) %></td>
      <td><%= truncate_on(deal.blurb) %></td>
      <td>$<%= deal.regular_price %></td>
      <td><%= deal.initial_discount %>% => <%= deal.max_discount %>%</td>
      <td><%= deal.max_threshold %> buys</td>
      <td><%= link_to "Delete", deal, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p class="links"><%= link_to "New Deal", new_deal_path %></p>
