<% title "#{@deal.city.name} - Today's SugarDeal: #{@deal.blurb_title}" %>

<div id="boxed">
  <div id="show_deal">
    <p class="deal_name">Today's SugarDeal:
      <%= @deal.name %>
    </p>
    <hr />
    
    <div id="deal_action">
      <div class="buy_count_down">
        <%= image_tag 'buy-this-deal.png' %>
        <div class="height80">
          <table class="deal_details_table">
              <th>Value</th><th>Price</th><th>Discount</th><th>Savings</th>
              <tr>
                <td><%= number_to_currency(@deal.regular_price, :precision => 2) %></td>
                <td><%= number_to_currency(@deal.current_price, :precision => 2) %></td>
                <td><%= number_to_percentage(@deal.discount_percent, :precision => 2) %></td>
                <td><%= number_to_currency(@deal.savings, :precision => 2) %></td>
              </tr>
          </table>
        </div>
        
        <div class="time_to_buy">TIME LEFT TO BUY</div>
        
        <div id='deal_date_field'><%= @deal.deal_date %></div>
        <br />
        <%= render :partial => 'countdown' %>
        <br />
      </div>
    </div>
    
    <div class="deal_photo">
      <%= image_tag @deal.photo.url(:medium) %>
    </div>
    
    <div class="deal_details_div">
      <p><strong>Crucial Deal Details</strong></p>
      <ul class="details">
      <% for fine_print in @deal.fine_prints %>
        <li><%= fine_print.description %></li>
      <% end %>
        <li><%= link_to "SugarDeal FAQs", '/faq' %></li>
      </ul>
    </div>
    
    <div class="good_stuff_div">
      <p><strong>The Good Stuff</strong></p>
      <ul class="details">
      <% for highlight in @deal.highlights %>
        <li><%= highlight.description %></li>
      <% end %>
      </ul>
    </div>
    
    <div class="blurb_div readable">
      <p><strong><%= @deal.blurb_title %></strong></p>
      <%=raw @deal.blurb %>
    </div>
    
    <div class="company_div readable">
      <p><strong>The Company</strong></p>
      <%= link_to @deal.company.name, @deal.company.website %><br />
      <%= @deal.company.address %><br />
      <%= @deal.company.city.name+', '+@deal.company.city.state.abbreviation+' '+@deal.company.zip_code.to_s %><br />
      <%= @deal.company.phone %>
      <br /><br />
      <div class="sugarbucks">
        <%= image_tag 'dollar.jpg', :width => 175 %>
        <strong>SugarBucks Sweeten The Deal!</strong>
        <ul class="details">
          <li>Every Deal comes with a SugarBucks code.</li>
          <li>Every purchase of today's SugarDeal increases the value of the code.</li>
          <li>You can apply the code to a future SugarDeal purchase.</li>
        </ul>
        <%= link_to 'Click here for more details.', '/sugarbucks' %>
      </div>
    </div>
  </div>
  <div id="side_bar">
    <div id="social">
      <%= image_tag 'share.png' %>
      <%= link_to(image_tag('facebook-sq.png', :width => 40),
      "http://facebook.com/share.php?u=http://sugarsave.com/#{@deal.city.search_name}/&t=#{@deal.blurb_title}", :target => :blank) %>
      <%= link_to(image_tag('twitter-sq.png', :width => 40),
      "http://twitter.com/home?status=SugarSaveKnox - #{@deal.blurb_title}", :target => :blank) %>
      <%= image_tag 'email-sq.png', :width => 40 %>
    </div>
    <hr />
    <div id="charitable">
      <p class="charitable_title"><%= image_tag @charity.photo.url(:thumb) %> <%= link_to "This Week's Featured Charity*", charity_path(@charity) %><p>

      <p class="charitable_blurb">*Each week SugarSave features one local charity. We spread the word about their good works and donate a portion of SugarDeal sales to their cause. Sweet!</p>
    </div>
    <hr />
    <div id="tweets">
      <%= render :partial => 'shared/tweets' %>
    </div>
    <br />
    <div id="fb_like">
      <%= render :partial => 'shared/fb_like' %>
    </div>
  </div>
  <% if current_user.try(:role) == 'admin' %>
    <p><%= link_to "Edit", edit_deal_path(@deal) %></p>
  <% end %>
</div>

<script type="text/javascript">
var dealDate = $('#deal_date_field').html();
var dealDateArray = dealDate.split('-');

$('#countdown_dashboard').countDown({
  targetDate: {
    'day':      ++dealDateArray[2],
    'month':    dealDateArray[1],
    'year':     dealDateArray[0],
    'hour':     0,
    'min':      0,
    'sec':      0
  }
});
</script>