<% title "Highlight" %>

<p>
  <strong>Description:</strong>
  <%= @highlight.description %>
</p>
<p>
  <strong>Deal:</strong>
  <%= @highlight.deal_id %>
</p>

<p>
  <%= link_to "Edit", edit_highlight_path(@highlight) %> |
  <%= link_to "Destroy", @highlight, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", highlights_path %>
</p>
