<div id="adminlinks">
  <%= link_to "Users", users_path %> |
  <%= link_to "Companies", companies_path %> |
  <%= link_to "Charities", charities_path %> |
  <%= link_to "Deals", deals_path %> |
  <%= link_to "Cities", cities_path %>
</div>