<div id="bottom">
  <div id="footer">
    <div id="bottomnav">
      <p><%= link_to "about us", '/about' %> | contact us | <%= link_to "legal", '/legal' %> | <%= link_to 'FAQ', '/faq' %></p>
    </div>
    <div id="connect">
      <p>connect with us</p>
      <%= link_to image_tag('twitter.png'), 'http://twitter.com/SugarSave', :target => '_blank' %> 
      <%= link_to image_tag('facebook.png'), 'http://facebook.com/pages/SugarSave/276344549259', :target => '_blank' %>
    </div>
  </div>
</div>