<div id="top">
  <div id="logonav">
    <div id="logo">
      <% if current_user.try(:role) == 'admin' %>
        <%= link_to "SUGAR$AVE", '/dashboard' %>
        <%= link_to current_user.city.name, "/#{current_user.city.search_name}", :class => 'city_link' %>
      <% else %>
        <% if current_user %>
          <%= link_to "SUGAR$AVE #{current_user.city.name}", '/'+current_user.city.search_name %>
        <% else %>
          <%= link_to "SUGAR$AVE", root_path %>
        <% end %>
      <% end %>
      <%= link_to "Choose a City", '#city_picker', :class => 'picker', :rel => 'facebox' %>
    </div>
    <div id="topnav">
      <% if current_user %>
        <% cache 'gravatar' do %>
          <%= image_tag current_user.gravatar_url(:rating => 'PG', :size => 30) %>
        <% end %>
        <b><%= link_to current_user.first_name+' '+current_user.last_name, user_path(current_user) %></b> | <%= link_to "Sign Out", logout_path %>
      <% else %>
        <b><%= link_to "Sign Up", register_path %></b> or <%= link_to "Sign In", login_path %>
      <% end %>
    </div>
  </div>
</div>
<div id="topfade">
  <%= image_tag('topfade.png') %>
</div>