<div id="top">
  <div id="logonav">
    <div id="logo">
      <% if current_user.try(:role) == 'admin' %>
        <a href="/dashboard">SUGAR$AVE</a>
      <% else %>
        <a href="/">SUGAR$AVE</a>
      <% end %>
    </div>
    <div id="topnav">
      <% if current_user %>
        <b><%= link_to current_user.username, edit_user_path(current_user) %></b> | <%= link_to "Sign Out", logout_path %>
      <% else %>
        <b><%= link_to "Sign Up", register_path %></b> or <%= link_to "Sign In", login_path %>
      <% end %>
    </div>
  </div>
</div>
<div id="topfade">
  <%= image_tag('topfade.png') %>
</div>